// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.site-header {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#8989ba+0,8989ba+100;Purple+3D */
    background: #8989ba; /* Old browsers */
    background: -moz-linear-gradient(-45deg, #8989ba 0%, #8989ba 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #8989ba 0%,#8989ba 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #8989ba 0%,#8989ba 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8989ba', endColorstr='#8989ba',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.site-header h1 {
    color: white;
}